body {
	margin-top: 60px;
	margin-bottom: 50px;
}

.logo {
	background-image: url(/assets/header_med.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 198px;
	width:100%;
}

.carousel .carousel-inner .item {
	height: 500px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 82%;
}

.carousel .carousel-inner .carousel-caption {
  width: 60%;
  vertical-align: bottom;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}