body {
	margin-top: 60px;
	margin-bottom: 50px;
}

.carousel .carousel-inner .item {
	height: 500px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 75%;
}

.carousel .carousel-inner .carousel-caption {
  width: 60%;
  vertical-align: bottom;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}