namespace Greenshot.Plugin.Box {
	/// <summary>
	/// This class is merely a placeholder for the file keeping the API key and secret for Box integration.
	/// You can set your own values here
	/// </summary>
	public static class BoxCredentials {
		public static string ClientId = "${Box13_ClientId}";
		public static string ClientSecret = "${Box13_ClientSecret}";
	}}

// test
