.svn/
*.gsp
*.bak
*INSTALLER*.exe
*INSTALLER*.zip
*.paf.exe
*-SVN.*
bin/
obj/
fugue/
*Credentials.private.cs
*Credentials.orig.cs
upgradeLog.htm
upgradeLog.XML
*.log
/Greenshot/releases/additional_files/readme.txt
/*.error

/Greenshot/releases/innosetup/setup.iss
