.svn/
*.gsp
*.bak
Greenshot*INSTALLER*.exe
Greenshot*INSTALLER*.zip
*.paf.exe
*-SVN.*
/Greenshot*/bin/
obj/
fugue/
/Greenshot/UpgradeLog*.htm
/Greenshot/UpgradeLog*.XML
/Greenshot/_UpgradeReport_Files/*
*.log
/Build/additional_files/readme.txt
/*.error
/Build/innosetup/setup.iss
/packages
/Build/appinfo.ini
/Greenshot/Backup*
/AssemblyDir
/Build/tools/PortableApps.comInstaller/Data/PortableApps.comInstallerLog.txt
