.svn/
*.gsp
*.bak
Greenshot*INSTALLER*.exe
Greenshot*INSTALLER*.zip
*.paf.exe
*-SVN.*
/Greenshot*/bin/
obj/
fugue/
*Credentials.private.cs
*Credentials.orig.cs
/Greenshot/UpgradeLog*.htm
/Greenshot/UpgradeLog*.XML
/Greenshot/_UpgradeReport_Files/*
*.log
/Greenshot/releases/additional_files/readme.txt
/*.error
/Greenshot/releases/innosetup/setup.iss
/Greenshot/packages
/Greenshot/releases/appinfo.ini
/Greenshot/Backup*

/Greenshot/tools/PortableApps.comInstaller/Data/PortableApps.comInstallerLog.txt
