<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nugetv3" value="https://api.nuget.org/v3/index.json" />
    <add key="Dapplo.Addons" value="https://ci.appveyor.com/nuget/dapplo-addons-8psw2ibvh832" />
    <add key="Dapplo.Config" value="https://ci.appveyor.com/nuget/dapplo-config-85fagsv5oequ" />
    <add key="Dapplo.CaliburnMicro" value="https://ci.appveyor.com/nuget/dapplo-caliburnmicro-46kaa8k8ft4i" />
    <add key="Dapplo.HttpExtensions" value="https://ci.appveyor.com/nuget/dapplo-httpextensions-6qa60p3t5ixy" />
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-windowsdesktop" value="https://dotnetfeed.blob.core.windows.net/dotnet-windowsdesktop/index.json" />
    <add key="aspnet-aspnetcore" value="https://dotnetfeed.blob.core.windows.net/aspnet-aspnetcore/index.json" />
    <add key="aspnet-aspnetcore-tooling" value="https://dotnetfeed.blob.core.windows.net/aspnet-aspnetcore-tooling/index.json" />
    <add key="aspnet-entityframeworkcore" value="https://dotnetfeed.blob.core.windows.net/aspnet-entityframeworkcore/index.json" />
    <add key="aspnet-extensions" value="https://dotnetfeed.blob.core.windows.net/aspnet-extensions/index.json" />
    <add key="bdn-nightly" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />
  </packageSources>
</configuration>