<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nugetv3" value="https://api.nuget.org/v3/index.json" />
    <add key="Dapplo.Addons" value="https://ci.appveyor.com/nuget/dapplo-addons-8psw2ibvh832" />
    <add key="Dapplo.Config" value="https://ci.appveyor.com/nuget/dapplo-config-85fagsv5oequ" />
    <add key="Dapplo.CaliburnMicro" value="https://ci.appveyor.com/nuget/dapplo-caliburnmicro-46kaa8k8ft4i" />
    <add key="Dapplo.HttpExtensions" value="https://ci.appveyor.com/nuget/dapplo-httpextensions-6qa60p3t5ixy" />
    <add key="Dapplo.Windows" value="https://ci.appveyor.com/nuget/dapplo-windows-pjnkjqjp7t6a" />
	<add key="myget.dotnetcore" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="dotnet-core-latest" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
	<add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </packageSources>
</configuration>