<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net452" />
  <package id="Dapplo.Addons" version="0.5.56" targetFramework="net452" />
  <package id="Dapplo.Addons.Bootstrapper" version="0.5.56" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro" version="0.5.28" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro.Configuration" version="0.5.28" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro.Dapp" version="0.5.28" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro.Menu" version="0.5.28" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro.Security" version="0.5.28" targetFramework="net452" />
  <package id="Dapplo.Ini" version="0.5.24" targetFramework="net452" />
  <package id="Dapplo.InterfaceImpl" version="0.2.12" targetFramework="net452" />
  <package id="Dapplo.Language" version="0.5.24" targetFramework="net452" />
  <package id="Dapplo.Log" version="1.2.1" targetFramework="net452" />
  <package id="Dapplo.Utils" version="1.0.158" targetFramework="net452" />
  <package id="Dapplo.Windows" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Clipboard" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Common" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.DesktopWindowsManager" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Dpi" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Gdi32" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Input" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Kernel32" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.Messages" version="0.5.54" targetFramework="net452" />
  <package id="Dapplo.Windows.User32" version="0.5.54" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" />
</packages>