<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="Autofac.Extras.AttributeMetadata" version="4.0.1" targetFramework="net461" />
  <package id="Autofac.Extras.CommonServiceLocator" version="5.0.0" targetFramework="net461" />
  <package id="Autofac.Mef" version="4.0.0" targetFramework="net461" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net461" />
  <package id="CommandLineParser" version="2.2.1" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Costura.Fody" version="3.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Dapplo.Addons" version="1.0.71" targetFramework="net461" />
  <package id="Dapplo.Addons.Bootstrapper" version="1.0.71" targetFramework="net461" />
  <package id="Dapplo.Addons.Config" version="1.0.71" targetFramework="net461" />
  <package id="Dapplo.CaliburnMicro" version="1.0.62" targetFramework="net461" />
  <package id="Dapplo.CaliburnMicro.Configuration" version="1.0.62" targetFramework="net461" />
  <package id="Dapplo.CaliburnMicro.Dapp" version="1.0.62" targetFramework="net461" />
  <package id="Dapplo.CaliburnMicro.Menu" version="1.0.62" targetFramework="net461" />
  <package id="Dapplo.CaliburnMicro.Metro" version="1.0.62" targetFramework="net461" />
  <package id="Dapplo.CaliburnMicro.Security" version="1.0.62" targetFramework="net461" />
  <package id="Dapplo.CaliburnMicro.Translations" version="1.0.62" targetFramework="net461" />
  <package id="Dapplo.HttpExtensions" version="0.8.43" targetFramework="net461" />
  <package id="Dapplo.HttpExtensions.JsonNet" version="0.8.43" targetFramework="net461" />
  <package id="Dapplo.HttpExtensions.OAuth" version="0.8.43" targetFramework="net461" />
  <package id="Dapplo.Ini" version="0.5.28" targetFramework="net461" />
  <package id="Dapplo.InterfaceImpl" version="0.2.12" targetFramework="net461" />
  <package id="Dapplo.Language" version="0.5.28" targetFramework="net461" />
  <package id="Dapplo.Log" version="1.2.1" targetFramework="net461" />
  <package id="Dapplo.Log.LogFile" version="1.2.1" targetFramework="net461" />
  <package id="Dapplo.Log.Loggers" version="1.2.1" targetFramework="net461" />
  <package id="Dapplo.Utils" version="1.0.158" targetFramework="net461" />
  <package id="Dapplo.Windows" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.Clipboard" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.Com" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.Common" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.DesktopWindowsManager" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.Dpi" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.EmbeddedBrowser" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.Gdi32" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.Icons" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.Input" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.Kernel32" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.Messages" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.Multimedia" version="0.5.104" targetFramework="net461" />
  <package id="Dapplo.Windows.User32" version="0.5.104" targetFramework="net461" />
  <package id="Fody" version="3.1.4" targetFramework="net461" developmentDependency="true" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Svg" version="2.3.0" targetFramework="net461" />
  <package id="System.Collections" version="4.0.11" targetFramework="net461" />
  <package id="System.Console" version="4.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net461" />
  <package id="System.IO" version="4.1.0" targetFramework="net461" />
  <package id="System.Linq" version="4.1.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net461" />
  <package id="Tools.InnoSetup" version="5.6.1" targetFramework="net461" />
</packages>