<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Addons" version="0.3.45" targetFramework="net452" />
  <package id="Dapplo.Config" version="0.3.37" targetFramework="net452" />
  <package id="Dapplo.HttpExtensions" version="0.5.19" targetFramework="net452" />
  <package id="Dapplo.InterfaceImpl" version="0.1.24" targetFramework="net452" />
  <package id="Dapplo.LogFacade" version="0.3.2" targetFramework="net452" />
  <package id="Dapplo.Utils" version="0.1.44" targetFramework="net452" />
</packages>