<div class="clearfix"></div>

		<footer>
			<div class="content-wrapper">

				<ul>
					<li>
						<a href="https://github.com/greenshot"><i class="fa fa-github fa-fw"></i> Github</a>
					</li>
					<li>
					  <a href="https://twitter.com/greenshot_tool"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
					</li>
					<li>
					  <a href="https://plus.google.com/108405649004966849465"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
					</li>
					<li>
					  <a href="https://www.openhub.net/p/greenshot">OpenHUB</a>
					</li>
					<li>
					  <a href="/feed"><i class="fa fa-rss fa-fw"></i> RSS-Feed</a>
					</li>

				</ul>

			</div>
		</footer>
