<nav class="navbar navbar-default navbar-fixed-bottom">
	<button class="btn navbar-toggle" data-toggle="collapse" data-target="#footer-bar">
		<span class="glyphicon glyphicon-chevron-up"></span> Social media links
	</button>
	<div class="navbar-collapse collapse" id="footer-bar">
		<ul class="nav navbar-nav nav-justified">
			<li style="float: none;">
				<a href="mailto:{{ site.email }}"><i class="glyphicon glyphicon-envelope"></i> e-Mail</a>
			</li>
			{% if site.github_username %}
			<li style="float: none;">
				<a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-fw"></i> Github</a>
			</li>
			{% endif %}
			{% if site.twitter_username %}
			<li style="float: none;">
			  <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
			</li>
			{% endif %}
			{% if site.facebook %}
			<li style="float: none;">
			  <a href="https://www.facebook.com/{{ site.facebook }}"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
			</li>
			{% endif %}
			{% if site.googleplus %}
			<li style="float: none;">
			  <a href="https://www.google.com/+{{ site.googleplus }}"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
			</li>
			{% endif %}
			{% if site.openhub_project %}
			<li style="float: none;">
			  <a href="https://www.openhub.net/p/{{ site.openhub_project }}">OpenHUB</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
