		<div class="header-wrapper">
			<div class="header">
			
				<div class="logo">
					<a href="/"><img src="/assets/greenshot-logo.png"></a>
				</div>
				
				<nav>
					<div class="ga-ldrbrd">
					<div style="text-align:right;color:#d3d3d3;font-size:10px;">ADVERTISEMENT <a href="/2013/05/30/why-a-free-web-needs-advertising/" style="color:#d3d3d3;font-size:10px;border:0 !important;margin:0;	"><i class="fa fa-info-circle"></i></a></div>
		
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Leaderboad Responsive -->
						<ins class="adsbygoogle"
			     			style="display:block"
			     			data-ad-client="ca-pub-8484846442376136"
			     			data-ad-slot="6875409483"
			     			data-ad-format="auto"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					<br>
					{% for availablepage in site.pages %}{% if availablepage.menu %}
						<a {% if page.url == availablepage.url %}class="active"{% endif %} href="{{ availablepage.url }}">{{ availablepage.menu }}</a>
					{% endif %}{% endfor %}
				</nav>
				
				<div class="servicelinks">
					Report a <a href="https://github.com/greenshot/greenshot/issues/new/?template=bug_report.md">bug</a> &middot; 
					Suggest a <a href="https://github.com/greenshot/greenshot/issues/new/?template=feature_request.md">feature</a> &middot;
					<a href="/sitemap/">sitemap</a> &middot;
					<a href="/privacy-policy/">privacy policy</a> &middot;
					<a href="/impressum/">impressum</a>
				</div>
			</div>
			
		</div>

