<header>

	<div class="content-wrapper">
	
		<div class="header-ad">
		<div style="text-align:right;color:#d3d3d3;font-size:10px;">ADVERTISEMENT <a href="/2013/05/30/why-a-free-web-needs-advertising/" style="color:#d3d3d3"><i class="fa fa-info-circle"></i></a></div>
		
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Leaderboad Responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-8484846442376136"
			     data-ad-slot="6875409483"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			
		</div>
		<a href="/" class="logo"><img src="/assets/greenshot-logo.png"></a>
		<nav class="desktop">
			<ul>
				{% for availablepage in site.pages %}{% if availablepage.menu %}
					<li>
						<a {% if page.url == availablepage.url %}class="active"{% endif %} href="{{ availablepage.url }}">{{ availablepage.menu }}</a>
					</li>
				{% endif %}{% endfor %}
			</ul>
		</nav>
		<div class="servicelinks">
			Report a <a href="https://greenshot.atlassian.net/browse/BUG">bug</a> &middot; 
			Suggest a <a href="https://greenshot.atlassian.net/browse/FEATURE">feature</a> &middot;
 			Ask a <a href="https://greenshot.atlassian.net/browse/SUPPORT">support question</a> &middot;
			<a href="/sitemap/">sitemap</a> &middot;
			<a href="/impressum/">impressum</a>
		</div>
		<nav class="mobile">
			<ul>
				{% assign nav_counter = 0 %}
				{% for availablepage in site.pages %}{% if availablepage.menu %}
					<li>
						<a {% if page.url == availablepage.url %}class="active"{% endif %} href="{{ availablepage.url }}">{{ availablepage.menu }}</a>
					</li>
					{% assign nav_counter = nav_counter | plus: 1 %}
					{% if nav_counter == 4 %}
						<br>
					{% endif %}
				{% endif %}{% endfor %}
			</ul>
		</nav>
	</div>
</header>
