<header>

	<div class="content-wrapper">
	
		<div class="header-ad">
			<!-- TODO insert ads again -->
			<!--<script type="text/javascript">< ! - -
				google_ad_client = "ca-pub-8484846442376136";
				/* Leaderboard */
				google_ad_slot = "0606533318";
				google_ad_width = 728;
				google_ad_height = 90;
				//- - >
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>-->
			<img src="http://placehold.it/728x90" alt="Placeholder image"/>
		</div>
		<a href="/" class="logo"><img src="/assets/greenshot-logo.png"></a>
		<nav>
			<ul>
				{% for availablepage in site.pages %}{% if availablepage.menu %}
					<li>
						<a {% if page.url == availablepage.url %}class="active"{% endif %} href="{{ availablepage.url }}">{{ availablepage.menu }}</a>
					</li>
				{% endif %}{% endfor %}
			</ul>
		</nav>
		<div class="servicelinks">
			Report a <a href="https://greenshot.atlassian.net/browse/BUG">bug</a> &middot; 
			Suggest a <a href="https://greenshot.atlassian.net/browse/FEATURE">feature</a> &middot;
 			Ask a <a href="https://greenshot.atlassian.net/browse/SUPPORT">support question</a> &middot;
			<a href="/sitemap/">sitemap</a> &middot;
			<a href="/impressum/">impressum</a>
		</div>
	</div>
	
</header>
