<head>
    <meta charset="utf-8">

    <meta name="robots" content="{% if page.metarobots %}{{page.metarobots}}{% else %}{{ site.metarobots }}{% endif %}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.metatitle %}{{ page.metatitle }}{% else if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.metadescription %}{{ page.metadescription }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/css/main.css?v=3' | prepend: site.baseurl }}">

    {% if page.tags contains "uses_alerts" %}
    <link rel="stylesheet" href="{{ '/css/alerts.css' | prepend: site.baseurl }}">
    {% endif %}
	
    <link href='//fonts.googleapis.com/css?family=Lato|Bangers' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/favicon.ico" sizes="16x16">

   
    <script src="{{ '/js/vendor/jquery-3.1.1.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/vendor/jquery.slides.min.js' | prepend: site.baseurl }}"></script>
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30035814-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>