<style type="text/css">
.help-nav img {margin-left:0.5em;}
</style>
<div class="help-nav" style="text-align:right">
<strong>Help in other languages</strong>
<br>


<a href="/help/de-de/">Greenshot Hilfe<img src="/assets/flags/de.gif" alt="Deutsch" height="11" width="16"></a>
<br>

<a href="/help/es-es/">Ayuda de Greenshot<img src="/assets/flags/es.gif" alt="Español" height="11" width="16"></a>
<br>

<a href="/help/fr-fr/">Aide Greenshot<img src="/assets/flags/fr.gif" alt="Française" height="11" width="16"></a>
<br>

<a href="/help/hu-hu/">Greenshot Súgó<img src="/assets/flags/hu.gif" alt="Magyar" height="11" width="16"></a>
<br>

<a href="/help/it-it/">Guida di Greenshot<img src="/assets/flags/it.gif" alt="Italiano" height="11" width="16"></a>
<br>

<a href="/help/ko-kr/">Greenshot 도움말<img src="/assets/flags/kr.gif" alt="Italiano" height="11" width="16"></a>
<br>

<a href="/help/nl-nl/">Greenshot Help<img src="/assets/flags/nl.gif" alt="Nederlands" height="11" width="16"></a>
<br>

<a href="/help/nn-no/">Greenshot Hjelp<img src="/assets/flags/no.gif" alt="Nynorsk" height="11" width="16"></a>
<br>

<a href="/help/pl-pl/">Pomoc Greenshot<img src="/assets/flags/pl.gif" alt="Polski" height="11" width="16"></a>
<br>

<a href="/help/pt-pt/">Ajuda do Greenshot<img src="/assets/flags/pt.gif" alt="Português de Portugal" height="11" width="16"></a>
<br>

<a href="/help/ru-ru/">Greenshot: Справка об использовании<img src="/assets/flags/ru.gif" alt="Pусский" height="11" width="16"></a>
<br>

<a href="/help/sv-se/">Greenshot Hjälp<img src="/assets/flags/se.gif" alt="Svenska" height="11" width="16"></a>
<br>

<a href="/help/tr-tr/">Greenshot Yardımı<img src="/assets/flags/tr.gif" alt="Türk" height="11" width="16"></a>
<br>

<a href="/help/zh-cn/">Greenshot 帮助<img src="/assets/flags/cn.gif" alt="简体中文" height="11" width="16"></a>
<br>
</div>