<div class="page-header">
	<div class="container-fluid" >
		<div class="col-md-3 col-md-offset-3">
			<img style="position:absolute;left:370px;top: 40px;z-index:3;" src="/assets/rating-badges.png" alt="Rating badges" class="rating-badges"/>
			<div style="position:absolute;left:80px;top:60px;z-index:3;width:280px;" class="well">
				<p style="font-style:italic;">
					<q>Way better intuitive control than Skitch or Snag-it. And it&#8217;s free.</q>
					<cite>&mdash;&nbsp;<span style="font-style:normal;">Christian</span></cite>
				</p>
			</div>
			<div id="site-description"></div>
				<img src="/assets/header_med.gif" width="940" height="198" alt="Header image" />
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" >
	<h1 class="text-center">{{ page.title }}</h1>
</div>
