<script language="JavaScript">
	var oldTitle = window.document.title;
	var searchQuery = window.location.href.split('?')[1].replace("#", "&");
	var vars = searchQuery.split('&');

	function getQueryVariable(variable) {
		for (var i = 0; i < vars.length; i++) {
			var pair = vars[i].split('=');
			if (decodeURIComponent(pair[0]) == variable) {
				return decodeURIComponent(pair[1]);
			}
		}
		return null;
	}

	var index = 0;
	var titles = [];
	var nrOfTitles = 0;
	function updateTitle() {
		if (index >= nrOfTitles) {
			index = 0;
		}
		window.document.title = titles[index];
		index = index+1;
	}

	if (searchQuery && searchQuery.length >= 1) {
		var state = getQueryVariable("state");
		var error = getQueryVariable("error");

		if (error == null && (state || code)) {
			var numberOfArguments = vars.length;
			nrOfTitles = numberOfArguments -1;
			for (var i = 0; i < numberOfArguments; i++) {
				var pair = vars[i].split('=');
				if (decodeURIComponent(pair[0]) == "state") {
					continue;
				}
				titles.push(oldTitle + "?nr=" + numberOfArguments + "&state=" + state + "&" + decodeURIComponent(pair[0]) + "=" + decodeURIComponent(pair[1]));
			}
			// Update the title in a loop
			setInterval(updateTitle, 100);
		} else {
			window.document.title = oldTitle + "?error=" + error;
		}
	}
	else {
		window.document.title = oldTitle + "?error=noquery";
	}
</script>