<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Addons" version="0.3.22.0" targetFramework="net452" />
  <package id="Dapplo.Config" version="0.3.10.0" targetFramework="net452" />
  <package id="Dapplo.HttpExtensions" version="0.4.44" targetFramework="net452" />
  <package id="Dapplo.LogFacade" version="0.2.22" targetFramework="net452" />
  <package id="Dapplo.Utils" version="0.1.10" targetFramework="net452" />
  <package id="Dapplo.Windows" version="0.1.14.0" targetFramework="net451" />
  <package id="Serilog" version="1.5.14" targetFramework="net451" />
</packages>