<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Addons" version="0.3.38" targetFramework="net452" />
  <package id="Dapplo.Config" version="0.3.29" targetFramework="net452" />
  <package id="Dapplo.HttpExtensions" version="0.5.11" targetFramework="net452" />
  <package id="Dapplo.InterfaceImpl" version="0.1.14" targetFramework="net452" />
  <package id="Dapplo.Jira" version="0.1.33" targetFramework="net452" />
  <package id="Dapplo.LogFacade" version="0.2.44" targetFramework="net452" />
  <package id="Dapplo.Utils" version="0.1.31" targetFramework="net452" />
  <package id="Dapplo.Windows" version="0.1.25.0" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
</packages>