<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Addons" version="0.3.29.0" targetFramework="net452" />
  <package id="Dapplo.Config" version="0.3.20.0" targetFramework="net452" />
  <package id="Dapplo.Confluence" version="0.1.22" targetFramework="net452" />
  <package id="Dapplo.HttpExtensions" version="0.5.5" targetFramework="net452" />
  <package id="Dapplo.InterfaceImpl" version="0.1.9.0" targetFramework="net452" />
  <package id="Dapplo.LogFacade" version="0.2.40" targetFramework="net452" />
  <package id="Dapplo.Utils" version="0.1.28" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
</packages>