<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Addons" version="0.3.46" targetFramework="net452" />
  <package id="Dapplo.Config" version="0.3.38" targetFramework="net452" />
  <package id="Dapplo.Confluence" version="0.1.31" targetFramework="net452" />
  <package id="Dapplo.HttpExtensions" version="0.5.20" targetFramework="net452" />
  <package id="Dapplo.InterfaceImpl" version="0.1.26" targetFramework="net452" />
  <package id="Dapplo.Log.Facade" version="0.4.8" targetFramework="net452" />
  <package id="Dapplo.Utils" version="0.1.45" targetFramework="net452" />
</packages>