<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.1" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net452" />
  <package id="Dapplo.Addons" version="0.3.90" targetFramework="net452" />
  <package id="Dapplo.Addons.Bootstrapper" version="0.3.90" targetFramework="net452" />
  <package id="Dapplo.CaliburnMicro" version="0.2.45" targetFramework="net452" />
  <package id="Dapplo.Config" version="0.4.4" targetFramework="net452" />
  <package id="Dapplo.InterfaceImpl" version="0.2.5" targetFramework="net452" />
  <package id="Dapplo.Log" version="1.0.22" targetFramework="net452" />
  <package id="Dapplo.Utils" version="1.0.128" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks" version="1.6.0" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" />
</packages>