<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Log" version="1.2.1" targetFramework="net461" />
  <package id="Dapplo.Windows" version="0.5.108" targetFramework="net461" />
  <package id="Dapplo.Windows.Common" version="0.5.108" targetFramework="net461" />
  <package id="Dapplo.Windows.DesktopWindowsManager" version="0.5.108" targetFramework="net461" />
  <package id="Dapplo.Windows.Gdi32" version="0.5.108" targetFramework="net461" />
  <package id="Dapplo.Windows.Icons" version="0.5.108" targetFramework="net461" />
  <package id="Dapplo.Windows.Input" version="0.5.108" targetFramework="net461" />
  <package id="Dapplo.Windows.Kernel32" version="0.5.108" targetFramework="net461" />
  <package id="Dapplo.Windows.Messages" version="0.5.108" targetFramework="net461" />
  <package id="Dapplo.Windows.User32" version="0.5.108" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>