---
layout: page
title: Screenshots
permalink: /screenshots/
tags: menu
---

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				{% assign counter=0 %}
				{% for screenshot in site.data.screenshots %}
				<li data-target="#myCarousel" data-slide-to="{{ counter }}" {% if counter == 0 %}class="active"{% endif %}></li>
				{% assign counter=counter | plus:1 %}
				{% endfor %}
			</ol>   
		   <!-- Carousel items -->
			<div class="carousel-inner">
				{% assign counter=0 %}
				{% for screenshot in site.data.screenshots %}
				<div class="{% if counter == 0 %}active{% endif %} item" style="background-image: url('/assets/screenshots/{{screenshot.file}}')">
					<div class="carousel-caption">
					  <h4>{{screenshot.title}}</h4>
					</div>
				</div>
				{% assign counter=counter | plus:1 %}
				{% endfor %}
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
</div>