<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>

		<add key="serilog:minimum-level" value="Information"/>
		<add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{Level}] {SourceContext} - {Message}{NewLine}{Exception}"/>
		<add key="serilog:write-to:RollingFile.pathFormat" value="%localappdata%\Greenshot\greenshot.log"/>
		<add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10"/>
	</appSettings>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="App\Greenshot"/>
		</assemblyBinding>
	</runtime>
</configuration>
