<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Log" version="1.0.23" targetFramework="net45" />
  <package id="Dapplo.Log.LogFile" version="1.0.23" targetFramework="net45" />
  <package id="Dapplo.Log.Loggers" version="1.0.23" targetFramework="net45" />
  <package id="Dapplo.Windows" version="0.3.21" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net45" />
  <package id="Tools.InnoSetup" version="5.5.9" targetFramework="net20" />
</packages>