<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Addons" version="0.1.26.0" targetFramework="net451" />
  <package id="Dapplo.Config" version="0.1.117.0" targetFramework="net451" />
  <package id="Dapplo.HttpExtensions" version="0.1.20.0" targetFramework="net451" />
  <package id="Dapplo.Windows" version="0.1.13.0" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
</packages>