<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.1" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net452" />
  <package id="Dapplo.Addons" version="0.3.89" targetFramework="net452" />
  <package id="Dapplo.Config" version="0.4.2" targetFramework="net452" />
  <package id="Dapplo.InterfaceImpl" version="0.2.5" targetFramework="net452" />
  <package id="Dapplo.Log" version="1.0.22" targetFramework="net452" />
  <package id="Dapplo.Log.Facade" version="0.5.4" targetFramework="net452" />
  <package id="Dapplo.Utils" version="1.0.128" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks" version="1.6.0" targetFramework="net452" />
</packages>