<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Log" version="1.0.29" targetFramework="net45" />
  <package id="Dapplo.Utils" version="1.0.150" targetFramework="net45" />
  <package id="Dapplo.Windows" version="0.5.35" targetFramework="net45" />
  <package id="Dapplo.Windows.Clipboard" version="0.5.35" targetFramework="net45" />
  <package id="Dapplo.Windows.Common" version="0.5.35" targetFramework="net45" />
  <package id="Dapplo.Windows.DesktopWindowsManager" version="0.5.35" targetFramework="net45" />
  <package id="Dapplo.Windows.Dpi" version="0.5.35" targetFramework="net45" />
  <package id="Dapplo.Windows.Gdi32" version="0.5.35" targetFramework="net45" />
  <package id="Dapplo.Windows.Icons" version="0.5.35" targetFramework="net45" />
  <package id="Dapplo.Windows.Input" version="0.5.35" targetFramework="net45" />
  <package id="Dapplo.Windows.Kernel32" version="0.5.35" targetFramework="net45" />
  <package id="Dapplo.Windows.Messages" version="0.5.35" targetFramework="net45" />
  <package id="Dapplo.Windows.User32" version="0.5.35" targetFramework="net45" />
  <package id="Svg" version="2.3.0" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net45" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net45" />
</packages>