<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	{% include head.html %}
    

	<body>
		
		{% include header.html %}
		
		<main>
			<div class="content-wrapper">
				
				{{ content }}
				
			</div>
		</main>
		
		{% include footer.html %}
		
	</body>
</html>