<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	{% include head.html %}
    

	<body>
		
		
		<div style="background-color:#fff;border:1px solid black;width:728px;height:90px;margin: 10px auto -10px auto;">
			<script type="text/javascript"><!--
				google_ad_client = "ca-pub-8484846442376136";
				/* Leaderboard */
				google_ad_slot = "0606533318";
				google_ad_width = 728;
				google_ad_height = 90;
				//-->
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>

		
		{% include header.html %}
		
		<main>
			<div class="content-wrapper">
				
				{{ content }}
				
			</div>
		</main>
		
		{% include footer.html %}
		
	</body>
</html>