<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	{% include head.html %}
    

	<body>
		
		{% include header.html %}
		
		<div class="main-wrapper">
			
			<div class="body-content">
					{{ content }}
				</div>
				
				<div class="ad-skyscraper">
					<!--<div style="position:absolute;left:1000px;background-color:#fff;border:1px solid black;">-->
					<div class="ad-skyscraper-text">ADVERTISEMENT <a href="/2013/05/30/why-a-free-web-needs-advertising/"><i class="fa fa-info-circle"></i></a></div>
					<div class="ad-skyscraper-wrapper" style="background-color:#fff;border:10px solid #3d3d3d;">
						
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Skyscraper Responsive -->
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-8484846442376136"
						     data-ad-slot="7992105487"
						     data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					
					</div>
				</div>
	
			</div>
			
		</main>
		
		{% include footer.html %}
		
	</body>
</html>
