---
layout: default
---

<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">
		<ul class="pager">
			{% assign previous = null %}
			{% assign found = false %}
			{% assign nextset = false %}
			{% for post in site.posts %}
				{% if found == true and nextset == false %}
					{% assign nextset = true %}
					<li class="next"><a href="{{ post.url | prepend: site.baseurl }}">Next post &rarr;</a></li>
				{% endif %}
				{% if post.url == page.url %}
					{% assign found = true %}
					{% if previous != null %}
					<li class="previous"><a href="{{ previous.url | prepend: site.baseurl }}">&larr; Previous post</a></li>
					{% else %}
					<li class="previous disabled"><a href="#">&larr; Previous post</a></li>
					{% endif %}
				{% endif %}
				{% assign previous = post %}
			{% endfor %}
			{% if nextset == false %}
				<li class="next disabled"><a href="#">Next post &rarr;</a></li>
			{% endif %}
		</ul>
		<div class="panel panel-primary" id="blog_{{counter}}">
			<div class="panel-heading">
				<h3 class="panel-title">{{ page.title }}</h3>
			</div>
			<div class="panel-body">
			{{ content }}
			</div>
			<div class="panel-footer">
			{{ page.date | date: "%-d %B %Y" }}
			</div>
		</div>
	</div>
</div>
