---
layout: default
---
<div class="page-header">
<h1 class="text-center">{{ page.title }}</h1>
<h3 class="text-center">{{ page.date | date: "%-d %B %Y" }}</h3>
</div>
<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
		{{ content }}
		</div>
		<ul class="pager">
			{% assign previous = null %}
			{% assign found = false %}
			{% assign nextset = false %}
			{% for post in site.posts %}
				{% if found == true and nextset == false %}
					{% assign nextset = true %}
					<li class="next"><a href="{{ post.url | prepend: site.baseurl }}">Next post &rarr;</a></li>
				{% endif %}
				{% if post.url == page.url %}
					{% assign found = true %}
					{% if previous != null %}
					<li class="previous"><a href="{{ previous.url | prepend: site.baseurl }}">&larr; Previous post</a></li>
					{% else %}
					<li class="previous disabled"><a href="#">&larr; Previous post</a></li>
					{% endif %}
				{% endif %}
				{% assign previous = post %}
			{% endfor %}
			{% if nextset == false %}
				<li class="next disabled"><a href="#">Next post &rarr;</a></li>
			{% endif %}
		</ul>
	</div>
</div>
