name: Pack and Publish Greenshot to Chocolatey

on:
  release:
    types: [published] # Only runs on full releases

jobs:
  pack-and-publish:
    runs-on: windows-latest

    steps:
      # 1. Checkout repository. needed for nuspec etc
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Update nuspec and chocolateyInstall.ps1
      - name: Get asset digest from GitHub API
        run: |
          $version = "${{ github.event.release.tag_name }}".TrimStart('v')
          $url = "https://api.github.com/repos/greenshot/greenshot/releases/tags/${{ github.event.release.tag_name }}"
          $release = Invoke-RestMethod -Uri $url
          $asset = $release.assets | Where-Object { $_.name -like 'Greenshot-INSTALLER-*.exe' }
          if (-not $asset) { throw "No matching asset found!" }
          $checksumType, $checksum = $asset.digest -split ":"

          # Inject release notes into greenshot.nuspec
          (Get-Content chocolatey/greenshot.nuspec) -replace '<version>.*</version>', "<version>$version</version>" | Set-Content chocolatey/greenshot.nuspec
          # Inject release notes into greenshot.nuspec
          (Get-Content chocolatey/greenshot.nuspec) -replace 'RELEASE_NOTES', $release.body | Set-Content chocolatey/greenshot.nuspec

          # Inject checksum type into chocolateyInstall.ps1
          (Get-Content chocolatey/tools/chocolateyInstall.ps1) -replace 'CHECKSUM_TYPE', $checksumType | Set-Content chocolatey/tools/chocolateyInstall.ps1
          # Inject checksum into chocolateyInstall.ps1
          (Get-Content chocolatey/tools/chocolateyInstall.ps1) -replace 'CHECKSUM_PLACEHOLDER', $checksum | Set-Content chocolatey/tools/chocolateyInstall.ps1
          # Inject download url into chocolateyInstall.ps1
          (Get-Content chocolatey/tools/chocolateyInstall.ps1) -replace 'DOWNLOAD_URL', $asset.browser_download_url | Set-Content chocolatey/tools/chocolateyInstall.ps1

      # 3. Install Chocolatey
      - name: Install Chocolatey
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
          iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

      # 4. Pack Chocolatey package using .nuspec
      - name: Pack with cpack
        run: |
          cd chocolatey
          cpack greenshot.nuspec

      # 5. Push package to Chocolatey
      - name: Push package to Chocolatey
        run: |
          choco push *.nupkg --source https://push.chocolatey.org/ --api-key ${{ secrets.CHOCO_API_KEY }}
