env:
  IS_RELEASE_BRANCH: ${{ startsWith(github.ref, 'refs/heads/release/') }}
  BRANCH_NAME: ${{ github.ref_name }}

name: Build and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'release/1.*'
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - '*.md'
      - 'LICENSE'
      - 'build-and-deploy.ps1'

jobs:
  # Build Greenshot with MSBuild
  # Upload installer to artifacts-installer
  # Upload build output to artifacts-greenshot-build
  build:
    name: Build Greenshot
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '7.x'

    - name: Restore NuGet packages 
      run: msbuild src/Greenshot.sln /p:Configuration=Release /restore /t:PrepareForBuild
      env:
        Box13_ClientId: ${{ secrets.Box13_ClientId }}
        Box13_ClientSecret: ${{ secrets.Box13_ClientSecret }}
        DropBox13_ClientId: ${{ secrets.DropBox13_ClientId }}
        DropBox13_ClientSecret: ${{ secrets.DropBox13_ClientSecret }}
        Flickr_ClientId: ${{ secrets.Flickr_ClientId }}
        Flickr_ClientSecret: ${{ secrets.Flickr_ClientSecret }}
        Imgur13_ClientId: ${{ secrets.Imgur13_ClientId }}
        Imgur13_ClientSecret: ${{ secrets.Imgur13_ClientSecret }}
        Photobucket_ClientId: ${{ secrets.Photobucket_ClientId }}
        Photobucket_ClientSecret: ${{ secrets.Photobucket_ClientSecret }}
        Picasa_ClientId: ${{ secrets.Picasa_ClientId }}
        Picasa_ClientSecret: ${{ secrets.Picasa_ClientSecret }}

    - name: Build and package
      run: msbuild src/Greenshot.sln /p:Configuration=Release /t:Rebuild /v:normal
      env:
        Box13_ClientId: ${{ secrets.Box13_ClientId }}
        Box13_ClientSecret: ${{ secrets.Box13_ClientSecret }}
        DropBox13_ClientId: ${{ secrets.DropBox13_ClientId }}
        DropBox13_ClientSecret: ${{ secrets.DropBox13_ClientSecret }}
        Flickr_ClientId: ${{ secrets.Flickr_ClientId }}
        Flickr_ClientSecret: ${{ secrets.Flickr_ClientSecret }}
        Imgur13_ClientId: ${{ secrets.Imgur13_ClientId }}
        Imgur13_ClientSecret: ${{ secrets.Imgur13_ClientSecret }}
        Photobucket_ClientId: ${{ secrets.Photobucket_ClientId }}
        Photobucket_ClientSecret: ${{ secrets.Photobucket_ClientSecret }}
        Picasa_ClientId: ${{ secrets.Picasa_ClientId }}
        Picasa_ClientSecret: ${{ secrets.Picasa_ClientSecret }}

    - name: Copy Files
      run: |
        mkdir -p ${{ github.workspace }}/artifacts
        cp installer/Greenshot-INSTALLER-*.exe ${{ github.workspace }}/artifacts/
    
    - name: Upload Installer Artifact
      uses: actions/upload-artifact@v4
      with:
       name: artifacts-installer
       path: ${{ github.workspace }}/artifacts
       if-no-files-found: error

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: artifacts-greenshot-build
        path: src/Greenshot/bin/Release/net472/**
        if-no-files-found: error

  pre_deploy:
    # Prepare for deployment
    # Determine version and release tag name
    name: Prepare for Deployment
    runs-on: ubuntu-latest
    needs: build
    outputs:
      version: ${{ steps.version_info.outputs.version }}
      tag_name: ${{ env.IS_RELEASE_BRANCH == 'true' && format('v{0}', steps.version_info.outputs.version) || env.BRANCH_NAME }}
    steps: 

      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: artifacts-installer # Name of the artifact uploaded in previous steps
          path: artifacts-installer # Local folder where artifacts are downloaded

      - name: Extract version from file name
        if: env.IS_RELEASE_BRANCH == 'true'
        id: version_from_filename
        run: |
          $file = Get-ChildItem artifacts-installer -Filter "Greenshot-INSTALLER-*.exe" | Select-Object -First 1
          if (-not $file) {
            throw "No matching file found in 'artifacts-installer' directory."
          }
          if ($file.Name -match "Greenshot-INSTALLER-([\d\.]+)(.*)\.exe") {
            echo "version=$($matches[1])" >> $Env:GITHUB_OUTPUT
          } else {
            throw "Version number could not be extracted from file name: $($file.Name)"
          }
        shell: pwsh

      - name: Set version from sanitized branch name
        if: env.IS_RELEASE_BRANCH != 'true'
        id: version_from_branchname
        run: |
          $branch = "${{ github.ref }}" -replace '^refs/heads/', ''
          $sanitized = $branch -replace '[^a-zA-Z0-9._-]', '_'
          echo "version=$sanitized" >> $Env:GITHUB_OUTPUT
        shell: pwsh

      - name: Set version info
        id: version_info
        run: |
          echo "version=${{ steps.version_from_filename.outputs.version || steps.version_from_branchname.outputs.version }}" >> $GITHUB_OUTPUT
        shell: bash

  portable:
    # Creates a portable app from the build output
    # Creates a ZIP archive and uploads it to artifacts-greenshot-portable
    name: Build Portable ZIP
    runs-on: ubuntu-latest
    needs: pre_deploy
    steps:

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: artifacts-greenshot-build
          path: artifacts-greenshot-build

      - name: Prepare portable folder
        run: |
          $buildArtifacts = "${{ github.workspace }}/artifacts-greenshot-build"
          $portableDir = "${{ github.workspace }}/portable"
          pwsh -File "${{ github.workspace }}/prepare-portable.ps1" -RepositoryRootPath ${{ github.workspace }} -BuildArtifactsPath $buildArtifacts -OutputPath $portableDir
        shell: pwsh

      - name: Create ZIP archive
        run: |
          $zipName = "Greenshot-PORTABLE-${{ needs.pre_deploy.outputs.version }}-UNSTABLE-UNSIGNED.zip"
          Compress-Archive -Path "${{ github.workspace }}/portable/*" -DestinationPath $zipName -Force
        shell: pwsh
      
      - name: Upload portable build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-greenshot-portable
          path: Greenshot-PORTABLE-*.zip
          if-no-files-found: error

  deploy:
    # Deploy the release
    # Creates a GitHub Release
    # Creates a version tag if release branch
    # Trigger GitHub Pages rebuild
    name: Deploy (continuous build)
    runs-on: ubuntu-latest
    needs: 
      - pre_deploy
      - portable      
    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Download build artifacts
        uses: actions/download-artifact@v5
        with:
          name: artifacts-installer
          path: artifacts-installer

      - name: Download portable artifacts
        uses: actions/download-artifact@v5
        with:
          name: artifacts-greenshot-portable
          path: artifacts-greenshot-portable

      - name: Create tag
        if: env.IS_RELEASE_BRANCH == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag -a "v${{ needs.pre_deploy.outputs.version }}" -m "v${{ needs.pre_deploy.outputs.version }}"
          git push origin "v${{ needs.pre_deploy.outputs.version }}"

      - name: Rename installer for non-release branch
        if: env.IS_RELEASE_BRANCH != 'true'
        run: |
          branch="${BRANCH_NAME:-${GITHUB_REF#refs/heads/}}"
          sanitized=$(echo "$branch" | sed 's/[^a-zA-Z0-9._-]/_/g')
          mv artifacts-installer/Greenshot-INSTALLER-*.exe "artifacts-installer/Greenshot-INSTALLER-${sanitized}.exe"
        shell: bash

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: "Greenshot ${{ needs.pre_deploy.outputs.version }} (continuous build)"
          tag_name: ${{ needs.pre_deploy.outputs.tag_name }}
          files: artifacts-installer/*.exe, artifacts-greenshot-portable/*.zip
          generate_release_notes: true
          draft: ${{ env.IS_RELEASE_BRANCH != 'true'  }}
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger GitHub Pages rebuild
        shell: bash
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/pages/builds
