name: Build and Deploy

on:
  push:
    branches:
      - 'release/1.*'
    paths-ignore:
      - 'develop/**'

jobs:
  build:
    runs-on: windows-latest
    env:
      Box13_ClientId: ${{ secrets.Box13_ClientId }}
      Box13_ClientSecret: ${{ secrets.Box13_ClientSecret }}
      DropBox13_ClientId: ${{ secrets.DropBox13_ClientId }}
      DropBox13_ClientSecret: ${{ secrets.DropBox13_ClientSecret }}
      Flickr_ClientId: ${{ secrets.Flickr_ClientId }}
      Flickr_ClientSecret: ${{ secrets.Flickr_ClientSecret }}
      Imgur13_ClientId: ${{ secrets.Imgur13_ClientId }}
      Imgur13_ClientSecret: ${{ secrets.Imgur13_ClientSecret }}
      Photobucket_ClientId: ${{ secrets.Photobucket_ClientId }}
      Photobucket_ClientSecret: ${{ secrets.Photobucket_ClientSecret }}
      Picasa_ClientId: ${{ secrets.Picasa_ClientId }}
      Picasa_ClientSecret: ${{ secrets.Picasa_ClientSecret }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '5.0.100'

      - name: Restore nuget packages and generate credential templates
        run: |
          dotnet msbuild src/Greenshot.sln /restore /t:PrepareForBuild /p:Configuration=Release /p:Platform="Any CPU"

      - name: Build and package
        run: |
          dotnet msbuild src/Greenshot.sln /p:Configuration=Release /p:Platform="Any CPU"
        env:
          Box13_ClientId: ${{ secrets.Box13_ClientId }}
          Box13_ClientSecret: ${{ secrets.Box13_ClientSecret }}
          DropBox13_ClientId: ${{ secrets.DropBox13_ClientId }}
          DropBox13_ClientSecret: ${{ secrets.DropBox13_ClientSecret }}
          Flickr_ClientId: ${{ secrets.Flickr_ClientId }}
          Flickr_ClientSecret: ${{ secrets.Flickr_ClientSecret }}
          Imgur13_ClientId: ${{ secrets.Imgur13_ClientId }}
          Imgur13_ClientSecret: ${{ secrets.Imgur13_ClientSecret }}
          Photobucket_ClientId: ${{ secrets.Photobucket_ClientId }}
          Photobucket_ClientSecret: ${{ secrets.Photobucket_ClientSecret }}
          Picasa_ClientId: ${{ secrets.Picasa_ClientId }}
          Picasa_ClientSecret: ${{ secrets.Picasa_ClientSecret }}

      - name: Copy Files to artifact staging directory
        run: |
          mkdir -p ${{ github.workspace }}/artifacts
          cp ${{ github.workspace }}/installer/Greenshot-INSTALLER-*.exe ${{ github.workspace }}/artifacts

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: drop
          path: ${{ github.workspace }}/artifacts

  deploy:
    runs-on: windows-latest
    needs: build
    steps:
      - name: Download Build Artifacts
        uses: actions/download-artifact@v3
        with:
          name: drop
          path: ${{ github.workspace }}/drop

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.run_number }}
          release_name: "Greenshot ${{ github.run_number }} unstable"
          draft: true
          prerelease: true
          files: ${{ github.workspace }}/drop/*.exe