name: Build and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - 'release/1.*'
  pull_request:
    branches:
      - 'release/1.*'
    paths-ignore:
      - 'develop/**'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

 

    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '7.x'

    - name: Restore NuGet packages 
      run: msbuild src/Greenshot.sln /p:Configuration=Release /restore /t:PrepareForBuild
      env:
        Box13_ClientId: ${{ secrets.Box13_ClientId }}
        Box13_ClientSecret: ${{ secrets.Box13_ClientSecret }}
        DropBox13_ClientId: ${{ secrets.DropBox13_ClientId }}
        DropBox13_ClientSecret: ${{ secrets.DropBox13_ClientSecret }}
        Flickr_ClientId: ${{ secrets.Flickr_ClientId }}
        Flickr_ClientSecret: ${{ secrets.Flickr_ClientSecret }}
        Imgur13_ClientId: ${{ secrets.Imgur13_ClientId }}
        Imgur13_ClientSecret: ${{ secrets.Imgur13_ClientSecret }}
        Photobucket_ClientId: ${{ secrets.Photobucket_ClientId }}
        Photobucket_ClientSecret: ${{ secrets.Photobucket_ClientSecret }}
        Picasa_ClientId: ${{ secrets.Picasa_ClientId }}
        Picasa_ClientSecret: ${{ secrets.Picasa_ClientSecret }}

    - name: Build and package
      run: msbuild src/Greenshot.sln /p:Configuration=Release /t:Rebuild /v:normal
      env:
        Box13_ClientId: ${{ secrets.Box13_ClientId }}
        Box13_ClientSecret: ${{ secrets.Box13_ClientSecret }}
        DropBox13_ClientId: ${{ secrets.DropBox13_ClientId }}
        DropBox13_ClientSecret: ${{ secrets.DropBox13_ClientSecret }}
        Flickr_ClientId: ${{ secrets.Flickr_ClientId }}
        Flickr_ClientSecret: ${{ secrets.Flickr_ClientSecret }}
        Imgur13_ClientId: ${{ secrets.Imgur13_ClientId }}
        Imgur13_ClientSecret: ${{ secrets.Imgur13_ClientSecret }}
        Photobucket_ClientId: ${{ secrets.Photobucket_ClientId }}
        Photobucket_ClientSecret: ${{ secrets.Photobucket_ClientSecret }}
        Picasa_ClientId: ${{ secrets.Picasa_ClientId }}
        Picasa_ClientSecret: ${{ secrets.Picasa_ClientSecret }}

    - name: Extract version
      run: |
        FILE_NAME=$(ls Greenshot-INSTALLER-*.exe | head -n 1)
        VERSION=$(echo "$FILE_NAME" | sed -E 's/Greenshot-INSTALLER-([0-9]+\.[0-9]+\.[0-9]+)-.*/\1/')
        echo "VERSION=$VERSION" >> $GITHUB_ENV


    - name: Create tag
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git tag -a "$VERSION" -m "Release version $VERSION"
        git push origin "$VERSION"


    - name: Copy Files
      run: |
        mkdir -p ${{ github.workspace }}/artifacts
        cp installer/Greenshot-INSTALLER-*.exe ${{ github.workspace }}/artifacts/
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
       name: drop
       path: ${{ github.workspace }}/artifacts

  deploy:
    runs-on: windows-latest
    needs: build

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: drop
          path: drop

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: "Greenshot $VERSION unstable"
          files: drop/*.exe
          draft: true
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          

# TODOs
# [ ] code signing (setup.iss / innosetup)
# [x] name of release
# [ ] version tag
# [ ] change log (?) (release-drafter action)
# [ ] update gh-pages automatically (?)

  
