name: Build and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - 'release/1.*'
  pull_request:
    branches:
      - 'release/1.*'
    paths-ignore:
      - 'develop/**'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

 

    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '7.x'

    - name: Restore nuget packages and generate credential templates
      run: dotnet restore src/Greenshot.sln --configfile nuget.config --source https://api.nuget.org/v3/index.json
      env:
        Box13_ClientId: ${{ secrets.Box13_ClientId }}
        Box13_ClientSecret: ${{ secrets.Box13_ClientSecret }}
        DropBox13_ClientId: ${{ secrets.DropBox13_ClientId }}
        DropBox13_ClientSecret: ${{ secrets.DropBox13_ClientSecret }}
        Flickr_ClientId: ${{ secrets.Flickr_ClientId }}
        Flickr_ClientSecret: ${{ secrets.Flickr_ClientSecret }}
        Imgur13_ClientId: ${{ secrets.Imgur13_ClientId }}
        Imgur13_ClientSecret: ${{ secrets.Imgur13_ClientSecret }}
        Photobucket_ClientId: ${{ secrets.Photobucket_ClientId }}
        Photobucket_ClientSecret: ${{ secrets.Photobucket_ClientSecret }}
        Picasa_ClientId: ${{ secrets.Picasa_ClientId }}
        Picasa_ClientSecret: ${{ secrets.Picasa_ClientSecret }}

    - name: Build and package
      run: msbuild src/Greenshot.sln /p:Configuration=Release /t:Rebuild /v:normal
      env:
        Box13_ClientId: ${{ secrets.Box13_ClientId }}
        Box13_ClientSecret: ${{ secrets.Box13_ClientSecret }}
        DropBox13_ClientId: ${{ secrets.DropBox13_ClientId }}
        DropBox13_ClientSecret: ${{ secrets.DropBox13_ClientSecret }}
        Flickr_ClientId: ${{ secrets.Flickr_ClientId }}
        Flickr_ClientSecret: ${{ secrets.Flickr_ClientSecret }}
        Imgur13_ClientId: ${{ secrets.Imgur13_ClientId }}
        Imgur13_ClientSecret: ${{ secrets.Imgur13_ClientSecret }}
        Photobucket_ClientId: ${{ secrets.Photobucket_ClientId }}
        Photobucket_ClientSecret: ${{ secrets.Photobucket_ClientSecret }}
        Picasa_ClientId: ${{ secrets.Picasa_ClientId }}
        Picasa_ClientSecret: ${{ secrets.Picasa_ClientSecret }}

    - name: Copy Files
      run: |
        mkdir -p ${{ github.workspace }}/artifacts
        cp $(Build.SourcesDirectory)/installer/Greenshot-INSTALLER-*.exe ${{ github.workspace }}/artifacts/
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
       name: drop
       path: ${{ github.workspace }}/artifacts

  deploy:
    runs-on: windows-latest
    needs: build

    steps:
    - name: Download Artifact
      uses: actions/download-artifact@v2
      with:
        name: drop

    - name: Create GitHub Release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ github.run_number }}
        release_name: "Greenshot ${{ github.run_number }} unstable"
        draft: true
        prerelease: true
        files: ${{ github.workspace }}/drop/*.exe
