name: Update GitHub Pages

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  update-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitHub Pages rebuild
        shell: bash
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.GH_PAGES_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/pages/builds
